$fontBase: "Poppins", sans-serif !default;
$fontBaseSecondary: "Rubik", sans-serif;
$colorBase: #070600;
$themeColor: #42bfdd;
$buttonHoverColor: #f0f6f6;
$headingColor: #084b83;
$activeColorBase: #42bfdd;
$fullWidth: 100%;
$roundBase: 10px;
$fontStyleBase: 400 14px/21px "Poppins", sans-serif !default;
$fontStyleSemiBase: 400 18px/27px "Poppins", sans-serif;
$boxShadowSemi: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
$boxShadowLarge: 0 1rem 3rem rgba(0, 0, 0, 0.175) !important;

// theme first
$th-first-ClrOne: #234d57 !default;
$th-first-Clrtwo: #807680;
$th-first-Clrthree: #548ea2;
$th-first-Clrfour: #a4a89f;
$th-first-Clrfive: #eff0f1;

// value
$fifty: 50%;
