<footer>
  <div class="container-fluid">
    <div class="container">
      <div class="row">
        <div class="col-sm-3">
          <div class="footerblock">
            <img src="assets/images/footerlogo.png" alt="" />
          </div>
        </div>
        <div class="col-sm-3">
          <div class="footerblock">
            <h2>For candidates</h2>
            <ul class="footList">
              <li>
                <a href="javascript:void(0);" routerLink="/explore-job"
                  >Explore Jobs</a
                >
              </li>
              <li>
                <a href="javascript:void(0);" routerLink="/post-resume"
                  >Post Resumes</a
                >
              </li>
            </ul>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="footerblock">
            <h2>For employers</h2>
            <ul class="footList">
              <li>
                <a href="javascript:void(0);" routerLink="/post-job"
                  >Post Job</a
                >
              </li>
              <li>
                <a href="javascript:void(0);" routerLink="/explore-resume"
                  >Explore Resume</a
                >
              </li>
            </ul>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="footerblock">
            <h2>Information</h2>
            <ul class="footList">
              <li>
                <img src="assets/images/phnIcn_th01.png" alt="" /><a
                  class="last"
                  href="tel:3858009444"
                  >(385) 800-9444
                </a>
              </li>
              <li>
                <img src="assets/images/mailicn_th01.png" alt="" /><a
                  class="last"
                  href="mailto:info@hairforhire.com"
                  >info@hairforhire.com</a
                >
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
