
@media screen and (max-width: 768px) {
    .contentArea .rightBlock h2{
        font-size: 24px;
        text-align: center;
    }
    .contentArea .leftPoster{
        margin-bottom: 10px;
    }
    .contentArea .rightBlock .btn{
        width: 100%;
    }
    .contentArea .rightBlock h4{
        line-height: 18px;
        font-weight: 500;
        
    }
}