<section class="contentArea">
  <div class="container-fluid">
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <div class="leftPoster">
            <img src="assets/images/postJobPoster_th01.png" alt="" />
          </div>
        </div>
        <div class="col-sm-6">
          <div class="rightBlock">
            <h2>Benefits of Posting a Job</h2>
            <h4>
              Instantly promote your job listing to the beauty industry
              candidates you are looking for
            </h4>
            <ul class="listPoint">
              <li><span>Find more applicants in less time.</span></li>
              <li><span>No more paying for ads on multiple sites.</span></li>
              <li>
                <span>Stop wasting time searching for your next hire.</span>
              </li>
            </ul>
            <h4>Have the best talent chase you</h4>
            <button type="button" (click)="onPostJob()" class="btn">
              Post job
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
