<section class="loginArea">
  <div class="container-fluid">
    <div class="container">
      <div class="row">
        <div class="pgHdng" data-aos="fade-up">
          <h2>Reset Password</h2>
        </div>
        <!-- Nav tabs -->
        <div class="LoginTabArea">
          <div class="tab-content" data-aos="fade-up">
            <div>
              <div class="mb-3">
                <label for="" class="form-label">New Password*</label>
                <div class="field">
                  <img src="assets/images/formicons/icon02.png" alt="" />
                  <input
                    [type]="viewPassword ? 'text' : 'password'"
                    [(ngModel)]="forgotData.password"
                    class="form-control"
                    aria-describedby="helpId"
                    placeholder="Enter your new password"
                  />
                  <img
                    *ngIf="viewPassword"
                    (click)="onViewPassword('newPassword')"
                    src="assets/images/vis.png"
                    alt=""
                  />
                  <img
                    *ngIf="!viewPassword"
                    (click)="onViewPassword('newPassword')"
                    src="assets/images/visno.png"
                    alt=""
                  />
                </div>
              </div>
              <div class="mb-3">
                <label for="" class="form-label">Confirm New Password*</label>
                <div class="field">
                  <img src="assets/images/formicons/icon02.png" alt="" />
                  <input
                    [type]="viewCPassword ? 'text' : 'password'"
                    [(ngModel)]="forgotData.cpassword"
                    class="form-control"
                    aria-describedby="helpId"
                    placeholder="Confirm your new password"
                  />
                  <img
                    *ngIf="viewCPassword"
                    (click)="onViewPassword('confirmPassword')"
                    src="assets/images/vis.png"
                    alt=""
                  />
                  <img
                    *ngIf="!viewCPassword"
                    (click)="onViewPassword('confirmPassword')"
                    src="assets/images/visno.png"
                    alt=""
                  />
                </div>
              </div>

              <button
                type="button"
                (click)="onSubmit()"
                class="btn filled"
                data-waves
              >
                Submit
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
