<section *ngIf="!isReset" class="loginArea">
  <div class="container-fluid">
    <div class="container">
      <div class="row">
        <div class="pgHdng" data-aos="fade-up">
          <h2>Forgot Password</h2>
        </div>
        <!-- Nav tabs -->
        <div class="LoginTabArea">
          <div class="tab-content" data-aos="fade-up">
            <div>
              <div class="mb-3">
                <label for="" class="form-label">Email Address*</label>
                <div class="field">
                  <img src="assets/images/formicons/icon01.png" alt="" />
                  <input
                    type="text"
                    class="form-control"
                    [(ngModel)]="forgotData.userName"
                    aria-describedby="helpId"
                    placeholder="Enter your email"
                  />
                </div>
              </div>
              <button
                type="button"
                (click)="checkUserAccess()"
                class="btn filled"
                data-waves
              >
                Continue
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section *ngIf="isReset" class="loginArea">
  <div class="container-fluid">
    <div class="container">
      <div class="row">
        <div class="pgHdng" data-aos="fade-up">
          <h2>Confirm Password</h2>
        </div>
        <!-- Nav tabs -->
        <div class="LoginTabArea">
          <div class="tab-content" data-aos="fade-up">
            <div>
              <div class="mb-3">
                <label for="" class="form-label">Code*</label>
                <div class="field">
                  <img src="assets/images/formicons/icon02.png" alt="" />
                  <input
                    type="password"
                    [(ngModel)]="forgotData.otp"
                    class="form-control"
                    aria-describedby="helpId"
                    placeholder="Enter your Code"
                  />
                </div>
              </div>
              <div class="mb-3">
                <label for="" class="form-label">New Password*</label>
                <div class="field">
                  <img src="assets/images/formicons/icon02.png" alt="" />
                  <input
                    type="password"
                    [(ngModel)]="forgotData.password"
                    class="form-control"
                    aria-describedby="helpId"
                    placeholder="Enter your new password"
                  />
                </div>
              </div>
              <div class="mb-3">
                <label for="" class="form-label">Confirm New Password*</label>
                <div class="field">
                  <img src="assets/images/formicons/icon02.png" alt="" />
                  <input
                    type="password"
                    [(ngModel)]="forgotData.cpassword"
                    class="form-control"
                    aria-describedby="helpId"
                    placeholder="Confirm your new password"
                  />
                </div>
              </div>

              <button
                type="button"
                (click)="onSubmit()"
                class="btn filled"
                data-waves
              >
                Submit
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
