<!-- details area -->
<section class="detailsArea">
  <div class="container-fluid">
    <div class="container">
      <div class="row">
        <div class="col-sm-3">
          <div class="jobLogoArea bgNone">
            <div class="photo">
              <!-- <div class="upload">
                <img src="assets/images/cameraIcn.png" alt="" />
              </div> -->

              <img
                alt="Image placeholder"
                [src]="userData.user_image"
                class="w-100"
                onerror="this.src='assets/images/user.png';"
              />
            </div>
          </div>
        </div>
        <div class="col-sm-9">
          <div class="detailsPnl">
            <h1>Change Password</h1>
            <div class="formPanel" data-aos="fade-up">
              <div action="">
                <div class="frmRow">
                  <div class="tittleSide">
                    <label for="">Current Password*</label>
                    <small> (Leave blank to leave unchanged)</small>
                  </div>
                  <div class="fieldBox eye">
                    <input
                      [type]="viewOldPassword ? 'text' : 'password'"
                      [(ngModel)]="oldPassword"
                      class="form-control"
                      placeholder="Current Password"
                      aria-describedby="helpId"
                    />
                    <img
                      *ngIf="viewOldPassword"
                      (click)="onViewPassword('oldPassword')"
                      src="assets/images/vis.png"
                      alt=""
                    />
                    <img
                      *ngIf="!viewOldPassword"
                      (click)="onViewPassword('oldPassword')"
                      src="assets/images/visno.png"
                      alt=""
                    />
                  </div>
                </div>
                <div class="frmRow">
                  <div class="tittleSide">
                    <label for="">New Password*</label>
                    <small> (Leave blank to leave unchanged)</small>
                  </div>
                  <div class="fieldBox eye">
                    <input
                      [type]="viewPassword ? 'text' : 'password'"
                      [(ngModel)]="newPassword"
                      class="form-control"
                      placeholder="New Password"
                      aria-describedby="helpId"
                    />
                    <img
                      *ngIf="viewPassword"
                      (click)="onViewPassword('newPassword')"
                      src="assets/images/vis.png"
                      alt=""
                    />
                    <img
                      *ngIf="!viewPassword"
                      (click)="onViewPassword('newPassword')"
                      src="assets/images/visno.png"
                      alt=""
                    />
                  </div>
                </div>
                <div class="frmRow">
                  <div class="tittleSide">
                    <label for="">Confirm New Password*</label>
                  </div>
                  <div class="fieldBox eye">
                    <input
                      [type]="viewCPassword ? 'text' : 'password'"
                      [(ngModel)]="confirmPassword"
                      class="form-control"
                      placeholder="Confirm New Password"
                      aria-describedby="helpId"
                    />
                    <img
                      *ngIf="viewCPassword"
                      (click)="onViewPassword('confirmPassword')"
                      src="assets/images/vis.png"
                      alt=""
                    />
                    <img
                      *ngIf="!viewCPassword"
                      (click)="onViewPassword('confirmPassword')"
                      src="assets/images/visno.png"
                      alt=""
                    />
                  </div>
                </div>

                <button
                  type="button"
                  class="btn mt-5 py-3 ripple"
                  (click)="onChangePassword()"
                >
                  Save Change
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- //details area -->
