// .eye {
//   width: 120% !important;
//   display: flex;
//   justify-content: space-between;
//   align-items: center;
// }
.fieldBox{
  width: 100%;
  border: 2px solid #234d57;
  border-radius: 10px;
  padding: 0 18px;
  box-sizing: border-box;
  background: #fff;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  .form-control{
    padding: 0;
    border: none;
    &:focus{
      box-shadow: none;
    }
  }
}
