<section class="contentArea">
  <div class="container-fluid">
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <div class="leftPoster">
            <img src="assets/images/postResumePoster_th01.png" alt="" />
          </div>
        </div>
        <div class="col-sm-6">
          <div class="rightBlock">
            <div class="rightHeadingRow">
              <h2>Benefits of Posting a Resume</h2>
              <span class="tag">
                <img src="assets/images/freeTag.png" alt="">
              </span>

            </div>

            <h4>Find that job you are looking for fast!</h4>
            <ul class="listPoint">
              <li><span>Help shop and salon owners find you.</span></li>
              <li>
                <span>Get your resume profile in front of countless employers
                  instantly.</span>
              </li>
              <li>
                <span>Create a professional looking resume profile with the help of
                  hairforhire.</span>
              </li>
              <li><span>Stop waiting to find that dream job.</span></li>
            </ul>
            <h4>Post your resume today!</h4>
            <button type="button" (click)="onPostResume()" class="btn">
              Post resume
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>