@media screen and (max-width: 1199px) and (min-width:990px){
    .contentArea .rightBlock .listPoint li span{
        background: none;
        padding: 8px 0;
    }
    .contentArea .rightBlock .listPoint li{
        line-height: normal;
        margin: 0 0 10px 0;
    }
}