<section class="detailsArea">
  <div class="container-fluid">
    <div class="container">
      <div class="row">
        <div class="col-sm-3">
          <div class="jobLogoArea bgNone">
            <div class="photo">
              <!-- <div class="upload">
                <img src="images/cameraIcn.png" alt="" />
              </div> -->
              <img
                src="assets/images/explorejob_icn02.png"
                alt=""
                class="w-100"
              />
            </div>
          </div>
        </div>
        <div class="col-sm-9">
          <div class="detailsPnl">
            <a
              href="account-details-recruiter.html"
              class="editbtn"
              title="Edit"
            >
              <img src="images/edit.png" alt="" />
            </a>
            <h1>Hire new talent</h1>

            <div class="jobPara" data-aos="fade-up">
              <p class="semi-lg">
                Attract better talent by posting your job listing directly to
                the beauty industry talent that is searching for you!
              </p>
            </div>
            <button type="button" routerLink="/home" class="btn">Back</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
